/* Base styles */
body, html {
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark grey for text */
    background-color: #fff; /* White background */
}

.blurred-bg {
    background-image: url('image/Screenshot\ 2024-01-29\ at\ 23.47.08.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Adjust the blur intensity as needed */
    position: relative;
    overflow: hidden;
}

.blurred-bg .hero-body {
    position: relative; /* To position the text above the blurred background */
}


/* Navbar styles */
.navbar {
    background-color: #fff;
    color: #333;
}

.navbar-item, .footer {
    color: #333;
}

/* Hero section styles */
.hero {
    background-color: #fff;
    color: #333;
    padding: 4rem 0;
}

/* Button styles */
.button {
    background-color: #000; /* Black */
    color: #fff; /* White text */
    border: none;
}

.button:hover {
    background-color: #333; /* Dark grey for hover */
}

/* Section styles */
.section {
    padding: 3rem 1.5rem;
}

/* Footer styles */
.footer {
    background-color: #000; /* Black */
    color: #fff; /* White text */
}

/* Responsive design adjustments as needed */
@media (max-width: 768px) {
    /* Responsive styles */
}
